[client]
port = 33067
user = drupal-database-user
default-character-set = utf8mb4

[mysql]
max_allowed_packet = 128M
default-character-set = utf8mb4

[mysqldump]
max_allowed_packet = 128M

[mysqladmin]
user=root

# Development:
# create user root@'phpfpm.btwn-linz_demigod' identified by 'Th5bzWBUyPitcG+PxwcQtuRqCTlTGldrc0g9A4XUJLQ=';
# grant all on *.* to root@'phpfpm.btwn-linz_demigod'

[mysqld]
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
innodb_large_prefix = 1
skip-networking = 0
bind-address = "0.0.0.0"


#set innodb as default
default-storage-engine=InnoDB

innodb_log_buffer_size=32M
innodb_buffer_pool_size=512M
innodb_log_file_size=32M
innodb_file_format=Barracuda
innodb_file_per_table=1

#Max open files
open_files_limit=10000

#Max packets
max_allowed_packet = 128M

#Enable slow query log
long_query_time=1
slow_query_log=1
slow_query_log_file=slow.log
